%% -*- mode:erlang; erlang-indent-level: 4; indent-tabs-mode:nil -*-

{plugins, [{ci_art, "~> 0.1"}]}.
{artifact_roots,
 [#{ root => "node/api/examples/channels/json-rpc"
   , system => circleci
   , project => "gh/aeternity/aeternity"
   , latest_run => #{ <<"branch">> => <<"master">>
                    , <<"status">> => <<"success">>}
   , workflow => "build_test_deploy"
   , job => #{<<"name">> => <<"test_latest">>}
   , artifacts => #{<<"path">> => {{f_re, <<"channel_docs">>}}}
   }
 ]}.
